<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/NativeScript/SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition" drawerLocation="Left">
  <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
    <StackLayout verticalAlignment="center" row="0" class="sidedrawer-header">
      <Image horizontalAlignment="center" src="res://beerhuntlogo" height="50dp" stretch="aspectFit"
        class="action-logo">
      </Image>
    </StackLayout>

    <ScrollView row="1">
      <StackLayout class="sidedrawer-content">
        <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected( ROUTE_PATH.SCAVENGER_HUNT)" (tap)="onNavItemTap( ROUTE_PATH.SCAVENGER_HUNT )">
          <Label col="0" text="&#xf015;" class="fa"></Label>
          <Label col="1" text="Scavenger Hunt" class="p-r-10"></Label>
        </GridLayout>

        <StackLayout class="hr-light"></StackLayout>

      </StackLayout>
    </ScrollView>
  </GridLayout>

  <page-router-outlet tkMainContent class="page">
  </page-router-outlet>

</RadSideDrawer>
